*.so
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.o
*.layout

/IPT-COM-SRC-3.12.7.1/iptcom/export-iptcom/
/IPT-COM-SRC-3.12.7.1/iptcom/output/
/IPT-COM-SRC-3.12.7.1/tdc/export-tdc/
/IPT-COM-SRC-3.12.7.1/tdc/output/
