
*.o.*
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno
*.o
www.tar

/.svn/
/IPT-COM-SRC-3.12.7.1/iptcom/export-iptcom/
/IPT-COM-SRC-3.12.7.1/iptcom/output/
/IPT-COM-SRC-3.12.7.1/tdc/export-tdc/
/IPT-COM-SRC-3.12.7.1/tdc/output/
